body {
	font-family: 'Lobster',cursive;
} 

h1, h2 {
	text-align: center;	
}

h3 {
	margin-bottom: 0;
}

p {
	color:black;
	font-size: 30px;
	text-align: center;

}

input {
	width:250px;
}

textarea {
	height:70px;
	width:250px;

}


#canvas {
    height: 600px;
    width: 500px;
    color: #D4AF37;
    margin:auto;
    position: relative;
  }

#card-background {
  float:left;
  width: 550px;
  height:600px;
  margin:30px 0 50px 30px;
  padding-top: 20px;
  border:1px dotted green;

  -webkit-box-shadow: 3px -3px 37px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px -3px 37px 0px rgba(0,0,0,0.75);
box-shadow: 3px -3px 37px 0px rgba(0,0,0,0.75);
}


#badge-background{
	height:220px;
	width: 200px;
	margin:auto;
}


#controls {
  float:left;
  margin-left:50px;
  width:400px;

}


.hidden {
  display: none;
}
.badges {
  height: 220px;
  width: 220px;
}

.button {
  float: left;
  height: 20px;
  margin-left:5px;
  width: 20px;
}

#blue {
  background-color: rgb(81, 146, 216);
}

#green {
  background-color: rgb(78, 184, 78);
}
#red {
  background-color: red;
}
#orange {
  background-color: orange;
}


.stickers {
  width: 50px;
}
#sticker-holder {
  height: 100px;
  width: 100px;
  position: relative;
  margin-top: -175px;
  margin-left: 49px;
}
#ribbon-holder img{
  width: 250px;
  height: 60px;
  margin-top: 21px;
  margin-left: -13px;
  z-index: 999;
}


#achievement-output {	
	text-align:center;
	font-size:30px;
	width:100%;
	position: relative;
	margin-top: -55px;
}
#award-text {
	margin:auto;
	width: 350px;
}


#skill-output {
	margin:auto;
	width: 500px;
	margin-left: -65px;
	display: block;
}


.error {
	color:red;
}

.button {
  width:50px;
  height:30px;
}
